@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

button,
.button {
  @apply flex p-2 items-center px-6 font-medium;
  @apply border border-slate-800/20 hover:bg-slate-800/10;
  @apply rounded-full transition-all;
  &.primary {
    @apply text-white bg-[#323EDD];
  }
  &.icon {
    @apply border-none px-2;
  }
  &.lightBorder {
    @apply border-white/30;
  }
  &.inactive {
    @apply border-none;
  }
  &.active {
    @apply bg-white text-black border-none shadow-lg;
  }
}
/* 323EDD */

.shadow-bg {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.disabled-link {
  pointer-events: none;
}

.MuiPickersCalendarHeader-root.css-1aqny2q-MuiPickersCalendarHeader-root {
  background-color: rgb(184, 184, 182);
  min-height: 50px;
}

.css-83f8i4-MuiDateCalendar-root {
  width: 25rem;
}
.css-i5q14k-MuiDayCalendar-header {
  justify-content: space-evenly;
}
.css-flbe84-MuiDayCalendar-weekContainer {
  justify-content: space-evenly;
}
